CIRCLEPREDICT_HOST=0.0.0.0
CIRCLEPREDICT_PORT=15121
CIRCLEPREDICT_PROXY_URL=
CIRCLEPREDICT_HTTP_RETRIES=2
CIRCLEPREDICT_CURL_FALLBACK=1
CIRCLEPREDICT_CURL_RETRIES=2
CIRCLEPREDICT_FAILURE_RETRY_MINUTES=15
CIRCLEPREDICT_STOOQ_API_KEY=
CIRCLEPREDICT_YAHOO_COOKIE=
CIRCLEPREDICT_YAHOO_CURL_RETRIES=3
CIRCLEPREDICT_YAHOO_REQUEST_SPACING_SECONDS=1.5
CIRCLEPREDICT_YAHOO_IMPERSONATE=safari_ios,chrome
CIRCLEPREDICT_WECOM_WEBHOOK_URL=
CIRCLEPREDICT_PUBLIC_URL=http://127.0.0.1:15121/
