CIRCLEPREDICT_HOST=0.0.0.0
CIRCLEPREDICT_PORT=15121
CIRCLEPREDICT_PROXY_URL=
CIRCLEPREDICT_HTTP_RETRIES=2
CIRCLEPREDICT_FAILURE_RETRY_MINUTES=15
CIRCLEPREDICT_WECOM_WEBHOOK_URL=
CIRCLEPREDICT_PUBLIC_URL=http://127.0.0.1:15121/
